:root{
    --bgColor:#1e90ff;
    --white:#ffffff;
    --green:#9dcb9d;
}

.d-flex{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}

.text-center{
    text-align: center;
}